.cx-hidden { display:none; }
.cx-toggle{ display:inline-block;width:1.2rem;height:1.2rem;margin-right:.25rem;border:0;background:none;cursor:pointer;line-height:1;user-select:none }
.cx-toggle[aria-expanded="true"]::before{content:"▾"}
.cx-toggle[aria-expanded="false"]::before{content:"▸"}
